@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Neucha|Source+Code+Pro:400,500,600&display=swap');

.container{
  max-width: 768px;
  margin: 2em auto;
}

.cover {
  height: 100%;
  min-height: 565px;
  padding: 55px 74px 100px;
  box-sizing: border-box;
  position: relative;
  background: url("../images/back-big.png") no-repeat center;
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  .left, .right {
    width: 50%;
    height: 410px;
    box-sizing: border-box;
  }
  .left {
    padding: 22px 14px 16px;
    background: url("../images/bg_item.png") no-repeat center;
    background-size: contain;
  }
  .right {
    padding: 0 14px 16px;
    background: url("../images/bg_item-right.png") no-repeat center;
    background-size: contain;
  }
  .left-top{
    padding-bottom: 12px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .left-bottom{
    display: flex;
    position: relative;
    padding-bottom: 32px;
    margin-top: 12px;
    justify-content: flex-end;
    button{
      right: 2px;
    }
  }
  .right-top{
    width: 100%;
    display: flex;
    .left-hand{
      flex: 0 0.23 23%;
      display: flex;
      flex-direction: column;
    }
    .wearing{
      flex: 0 0.54 54%;
    }
    .right-hand{
      flex: 0 0.23 23%;
    }
  }
  .right-bottom{
    display: flex;
    position: relative;
    .gold-input{
     margin: 5px 50px 0;
      max-width: 130px;
    }
  }
}

.tab{
  padding-top: 3px;
  input{
    display: none;
  }
  &-btns{
    display: flex;
    position: relative;
    z-index: 2;
    label {
      display: block;
      flex: 0 0.5 50%;
      cursor: pointer;
      position: relative;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.3);
      text-align: center;
      font-weight: 700;
      border: 2px solid #c4c1b9;
      border-style: groove;
      border-radius: 1px;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    }
    .label-left-1{
      margin-right: 2px;
    }
    .label-left-2{
      margin-left: 2px;
    }
  }
  .tab-images{
    z-index: 1;
    height: 100px;
    position: relative;
    div {
      height: 100%;
      width: calc(100% - 3px);
      position: absolute;
      box-sizing: border-box;
      border: 2px solid #c4c1b9;
      border-style: groove;
      border-radius: 1px;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    }
  }
  .left-img-1, .right-img-1{
    left: 0;
  }
  .left-img-2, .right-img-2{
    right: 0;
  }
  #left-hand-one:checked ~ .tab-btns .label-left-1,
  #left-hand-two:checked ~ .tab-btns .label-left-2,
  #right-hand-one:checked ~ .tab-btns .label-right-1,
  #right-hand-two:checked ~ .tab-btns .label-right-2{
    background: rgba(255,255,255, 0.3);
  }

  #left-hand-one:checked ~ .tab-images .left-img-1,
  #left-hand-two:checked ~ .tab-images .left-img-2,
  #right-hand-one:checked ~ .tab-images .right-img-1,
  #right-hand-two:checked ~ .tab-images .right-img-2 {
    z-index: 2;
    height: calc(100% + 6px);
  }
}

.hand-item{
  width: calc(100% - 3px);
  height: 0;
  padding-bottom: calc(100% - 3px);
  margin-top: 10px;
  position: relative;
  box-sizing: border-box;
  background: rgba(0,0,0,0.3);
  text-align: center;
  border: 2px solid #c4c1b9;
  border-style: groove;

  &-left{
    padding-right: 3px;
  }
  &-right{
    margin-left: 3px;
  }
  div{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}
.wearing{
  display: flex;
  padding-bottom: 1px;
  &-left, &-right{
    flex: 0 0.3 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 4px 0;
  }
  &-center{
    flex: 0 0.40 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .w-top{
      height: 25%;
    }
    .w-center{
      height: 40%;
    }
    .w-bottom{
      height: 16%;
    }
  }
  &-item{
    position: relative;
    border-radius: 1px;
    box-sizing: border-box;
    border: 2px solid #d1d2cd;
    border-style: groove;
    box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
    div{
      width: 100%;
      height: 100%;
      position: absolute;
      cursor: pointer;
    }
  }
  .w-l-bottom{
    width: 85%;
    height: 18%;
    align-self: flex-end;
  }
  .w-l-top{
    width: 85%;
    height: 18%;
    align-self: flex-start;
  }
}

.gold-input{
  border: 2px solid #d1d2cd;
  border-style: groove;
  background-color: #070707;
  margin-bottom: 1px;
  position: relative;
  input{
    width: 100%;
    min-width: 165px;
    padding-left: 20px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #d4d5da;
    text-align: center;
    background: transparent;
    font-family: 'Source Code Pro', monospace;
  }
  input::-webkit-outer-spin-button, // hide arrows
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }
  .btn-view{
    left: 0;
    top: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    background: url("../images/money.png") no-repeat center;
    background-size: contain;
    border-right: 2px solid #a19795;
  }
  .label-view{
    top: 3px;
    left: 0;
    position: absolute;
    font-size: 14px;
    color: #d4d5da;
    font-family: 'Neucha', cursive;
  }
}

#left-grid{
  width: 100%;
  height: 274px;
  display: grid;
  background: #9e9ba7;
  grid-gap: 2px;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

#right-grid{
  width: 100%;
  height: 162px;
  display: grid;
  background: #9e9ba7;
  grid-gap: 2px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(10, 1fr);
  border: 2px solid #c4c1b9;
  border-style: groove;
  box-sizing: border-box;
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
.box{
  width: 100%;
  height: 100%;
  position: relative;
  background: #070707;
  div{
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
  }
}

.bottom{
  width: calc(100% - 240px);
  height: 46px;
  bottom: 0;
  position: absolute;
  display: flex;
  &::before, &::after{
    bottom: 10px;
    display: block;
    content: ' ';
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &::before{
    left: -95px;
    background: url("../images/circle-red.png") no-repeat center;
    background-size: cover;
  }
  &::after{
    right: -95px;
    background: url("../images/circle-blue.png") no-repeat center;
    background-size: cover;
  }

  .left, .right {
    width: 50%;
    height: 100%;
    position: relative;
    &::before{
      width: 44px;
      height: 46px;
      content: ' ';
      display: block;
      position: absolute;
      border: 1px solid #c4c1b9;
      box-sizing: border-box;
      box-shadow: 0 0 11px 3px rgba(0,0,0,0.2);
    }
  }
  .left{
    &::before{
      left: 0;
      background: url('../images/bottom-left.jpg') no-repeat center;
      background-size: cover;
    }
    &::after{
      top: 0;
      right: -21px;
      width: 44px;
      height: 46px;
      content: ' ';
      display: block;
      position: absolute;
      background: url("../images/footer-center.png") no-repeat center;
      background-size: contain;
    }
  }
  .right{
    &::before{
      right: 0;
      background: url('../images/bottom-right.jpg') no-repeat center;
      background-size: cover;
    }
  }
}

.progress{
  height: 100%;
  padding-left: 60px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-cover{
    flex: 0 0.7 70%;
    display: flex;
    flex-direction: column;
  }
  .progress-bar{
    height: 4px;
    background: #010000;
    margin-bottom: 6px;
    border: 1px solid rgba(0,0,0,0.6);
    position: relative;
    box-sizing: border-box;
    &::before{
      top: -2px;
      left: -2px;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      position: absolute;
      border: 2px solid #c4c1b9;
      border-radius: 1px;
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    }
    &::after{
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      position: absolute;
      border: 1px solid #000;
      border-radius: 1px;
    }
  }
  .progress-thumb{
    top: 0;
    left: 0;
    height: 2px;
    width: 34%;
    position: absolute;
    background: #fcfbf6;
    border-radius: 1px;
  }
  .flow{
    height: 20px;
    background: #000;
    position: relative;
    box-sizing: border-box;
    display: flex;

    &::before{
      top: -2px;
      left: -2px;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      position: absolute;
      border: 2px solid #c4c1b9;
      border-radius: 1px;
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    }
    &::after{
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      display: block;
      content: ' ';
      position: absolute;
      border: 1px solid #000;
      border-radius: 1px;
    }
  }
  .flow-thumb{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffd667;
  }
  .flow-label{
    top: 0;
    left: 0;
    height: 100%;
    width: 20px;
    background: url("../images/man.png") no-repeat center;
    background-size: cover;
  }
}

.curr-tools{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;
  padding-left: 30px;
  .tool-row{
    flex: 0 0.7 70%;
    display: flex;
  }
  .tool-row-box{
    width: 32px;
    height: 32px;
    position: relative;
    background: #18171c;
    border: 2px solid #c4c1b9;
    box-sizing: border-box;
    box-shadow: 0 0 11px 3px rgba(0,0,0,0.2);
  }
}

.button{
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
}

.move{
  background: url("../images/btn-add.png") no-repeat center;
  background-size: cover;
}
.btn-gear{
  position: absolute;
  background: url("../images/gear-btn.png") no-repeat center;
  background-size: cover;
}

.tooltip{
  top: 26px;
  z-index: 9;
  left: -70px;
  display: block;
  position: absolute;
  width: calc(100% + 150px);
  padding: 10px;
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  visibility: hidden;
  p{
    margin: 0 2px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Neucha', cursive;
  }
}

.yellow{
  color: #f0efd8;
}
.white{
  color: #fbf8fc;
}
.purple{
  color: #887dc8;
}

//items
.item-hover-effect:hover{
  box-shadow: -1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  transform: scale(1.05);
  & ~ span{
    visibility: visible;
  }
}

.belt{
  background: url("../images/belt.png") no-repeat center #222222;
  background-size: cover;
}
.crown-1{
  background: url("../images/crown-1.png") no-repeat center;
  background-size: cover;
}
.sword{
  background: url("../images/sword.jpg") no-repeat center;
  background-size: cover;
}
.staff{
  background: url("../images/staff.jpg") no-repeat center;
  background-size: cover;
}
.staff-second{
  background: url("../images/staff-second-hand.jpg") no-repeat center;
  background-size: cover;
}
.shoes{
  background: url('../images/shoes.png') no-repeat center;
  background-size: contain;
}
.gloves{
  background: url('../images/gloves.jpg') no-repeat center;
  background-size: contain;
}
.armor{
  background: url('../images/armor.png') no-repeat center;
  background-size: cover;
}
.ring{
  background: url('../images/gold-ring.png') no-repeat center #222222;
  background-size: contain;
}
.coulomb{
  background: url('../images/coulomb.png') no-repeat center #222222;
  background-size: contain;
}

.life{
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  background: url('../images/life.png') no-repeat center;
  background-size: contain;
}

.cube{
  z-index: 2;
  transition: all ease 0.1s;
  transform: scale(2) translateX(7px) translateY(7px);
  background: url("../images/cube.png") no-repeat center #19153f;
  background-size: contain;
  &:hover{
    transform: scale(2.2) translateX(6px) translateY(6px);
  }
}
.runa-branch{
  background: url("../images/runa-branch.png") no-repeat center #19153f;
  background-size: contain;
}
.runa-cristall{
  background: url("../images/runa-cristall.png") no-repeat center #19153f;
  background-size: contain;
}
.runa-fang{
  background: url("../images/runa-fang.png") no-repeat center #19153f;
  background-size: contain;
}
.runa-fire{
  background: url("../images/runa-fire.png") no-repeat center #19153f;
  background-size: contain;
}
.runa-pear{
  background: url("../images/runa-pear.png") no-repeat center #19153f;
  background-size: contain;
}
.runa-time{
  background: url("../images/runa-time.png") no-repeat center #19153f;
  background-size: contain;
}
.orange-ring{
  background: url("../images/orange-ring.png") no-repeat center #19153f;
  background-size: contain;
}
.crystal-yellow{
  background: url("../images/crystal-yellow.png") no-repeat center #19153f;
  background-size: contain;
}
.crystal-purple{
  background: url("../images/crystal-puple.png") no-repeat center #19153f;
  background-size: contain;
}
.crystal-blue{
  background: url("../images/crystal-blue.png") no-repeat center #19153f;
  background-size: contain;
}
.crystal-green{
  background: url("../images/crystal-green.png") no-repeat center #19153f;
  background-size: contain;
}
.scull{
  background: url("../images/scull.png") no-repeat center #19153f;
  background-size: contain;
}
.key{
  background: url("../images/key.png") no-repeat center #19153f;
  background-size: contain;
}
.gold-book{
  width: 50% !important;
  background: url("../images/gold-book.png") no-repeat center #19153f;
  background-size: contain;
  z-index: 2;
  transition: all ease 0.1s;
  transform: scale(2) translateX(3px) translateY(6px);
  &:hover{
    transform: scale(2.2) translateX(3px) translateY(6px);
  }
}
.decoration{
  background: url("../images/decoration.png") no-repeat center #19153f;
  background-size: contain;
}
.blue-book{
  width: 50% !important;
  background: url("../images/blue-book.png") no-repeat center #19153f;
  background-size: contain;
  z-index: 2;
  transition: all ease 0.1s;
  transform: scale(2) translateX(3px) translateY(6px);
  &:hover{
    transform: scale(2.2) translateX(3px) translateY(6px);
  }
}
.symbol{
  width: 50% !important;
  background: url("../images/symbol.png") no-repeat center #19153f;
  background-size: contain;
  z-index: 2;
  transition: all ease 0.1s;
  transform: scale(2) translateX(3px) translateY(6px);
  &:hover{
    transform: scale(2.2) translateX(3px) translateY(6px);
  }
}










