@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

html,body{
  background: #f1f1f1;
}

*{
  font-family: "Roboto", sans-serif;
}
.container{
  max-width: 700px;
  margin: 30px auto;
}

.card {
  width: 30%;
  min-width: 260px;
  border-radius: 20px;
  box-shadow: -11px 9px 5px 0px rgba(0, 0, 0, 0.1);
}

.top {
  color: #fff;
  position: relative;
  border-radius: 20px 20px 0 0;
  background-image: linear-gradient(314.18deg, #7E1800 0%, #000000 0.01%, rgba(77, 48, 40, 0.979173) 0.02%, #FB7421 97.92%);
  h3 {
    margin: 0;
    padding: 20px 20px 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .logo {
    width: 100%;
    max-width: 70px;
    margin: 25px 25px 0;
  }
  .shoes {
    width: 80%;
    right: -40px;
    bottom: -25px;
    position: absolute;
  }
  .desc {
    margin: 16px 0 0;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
  }
  .transparent {
    opacity: 0.1;
    color: #000;
    margin: 0;
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.bottom {
  padding: 20px;
  background: #fff;
  border-radius: 0 0 20px 20px;
}

.title{
  color: #000;
  &-main{
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    span{
      font-weight: 700;
    }
  }
  .tooltip{
    top: -4px;
    right: -2px;
    display: block;
    padding: 3px 4px;
    position: absolute;
    background: #1be95f;
    border-radius: 3px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  &-sub{
    margin: 8px 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .rate{
    margin: 0;
    display: flex;
    img{
      flex: 0 0.20 20%;
      width:100%;
      max-width: 14px;
      margin-right: 3px;
    }
  }
}

.size{
  margin: 20px 0;
  p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
  ul{
    margin: 15px 0;
    padding: 0;
    list-style: none;
    display: flex;
    li{
      min-width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-right: 25px;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        color: #fff;
        background: #e84f0c;
      }
      &:nth-child(4){ // display current selected size !(should be removed for production)
        color: #fff;
        background: #e84f0c;
      }
    }
  }
}



.color-select{
  margin: 20px 0;
  p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.colors{
  margin: 14px 0;
  display: flex;
  align-items: center;
  position: relative;
  .hidden{
    display: none;
  }
  label{
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid;
    border-color: transparent;
    margin-right: 10px;
    &::after{
      top: 5px;
      left: 5px;
      width: 14px;
      height: 14px;
      display: block;
      content: ' ';
      position: absolute;
      background: #e3e4e8;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  input#green:checked ~ .green {
    border-color: #1be95f;
    &::after{
      background: #1be95f;
    }
  }

  input#orange:checked ~ .orange{
    border-color: #f2530f;
    &::after {
      background: #f2530f;
    }
  }

  input#yellow:checked ~ .yellow{
    border-color: #efd91c;
    &::after {
      background: #efd91c;
    }
  }

  button{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    background: #1be95f;
    box-shadow: 0 6px 10px rgba(27, 233, 95, 0.4);
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 10px 15px 8px;
    position: absolute;
    right: -40px;
    span{
      font-weight: 600;
    }
  }
}
