@import './normalize.css';


@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:300,400,600,700,800&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wxzxy7');
  src:  url('../fonts/icomoon.eot?wxzxy7#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?wxzxy7') format('truetype'),
        url('../fonts/icomoon.woff?wxzxy7') format('woff'),
        url('../fonts/icomoon.svg?wxzxy7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e90a";
}
.icon-chevrons-up:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e904";
}
.icon-map-pin:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-github-logo-face:before {
  content: "\e909";
}
.icon-facebook1:before {
  content: "\e907";
}
.icon-brand:before {
  content: "\e907";
}
.icon-social:before {
  content: "\e907";
}
.icon-linkedin1:before {
  content: "\e908";
}
.icon-brand1:before {
  content: "\e908";
}
.icon-social1:before {
  content: "\e908";
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-flow-row {
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

@mixin flex-flow-row-nowrap {
  -webkit-flex-flow: row;
  flex-flow: row;
}

@mixin flex-flow-column {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition:$transition;
  transition:$transition;
}


/* Colors */
//font colors
$white: #fff;
$font-dark: #3a3d65;
$font-blue: #5a84ff;
$font-green: #35d694;
$font-green-light: #60fabb;
$font-grey: #7f819b;

//background colors
$bg-light-blue: rgba(90, 132, 255, 0.08);
$bg-blue: #dae4ff;
$bg-green: #86e6bf;

/* Font sizes */
$h1-title: 70px;
$h2-title: 37px;
$font-large: 20px;
$font-middle: 16px;
$font-main: 14px;
$font-small: 13px;

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.container:before, .container:after {
  display: table;
}

.container:after {
  clear: both;
}
@media (max-width: 600px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  .container {
    width: 944px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}

.container-fluid:after {
  clear: both;
}

@media (max-width: 1024px) {
  .container-fluid {
    padding: 0;
  }
}

// Titles
.h1-title{
  font-family: "Montserrat", sans-serif;
  font-size: $h1-title;
  font-weight: bold;
  color: $font-dark;
  margin: 0;
}
.h2-title{
  font-family: "Montserrat", sans-serif;
  font-size: $h2-title;
  font-weight: 600;
  color: $font-dark;
  margin: 0;
}

.flexed-row{
  @include flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


//navigation styles
.nav{
  padding: 20px 0;
  @include flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  .logo{
    text-decoration: none;
    img{
      width: 55px;
      height: 36px;
      display: inline-block;
    }
    span{
      font-family: "Montserrat", sans-serif;
      vertical-align: text-top;
      color: $font-dark;
      font-size: 27px;
      font-weight: 500;
    }
  }
  & > ul, & > ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul {
    @include flex;
    position: relative;
    justify-content: space-between;
  }
  ul ul {
    top: 100%;
    left: 0;
    z-index: 2;
    padding: 5px 12px;
    background: white;
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    @include border-radius(4px);
    box-shadow: 0 0 10px 0 rgba(115, 115, 139, 0.12);
  }
  ul ul ul{
    top: 0;
    left: 100%;
    width: 100%;
  }

  li {
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: $font-blue;
    a{
      color: inherit;
      margin-right: 20px;
      text-decoration: none;
    }

    &:hover {
      background: rgba(115, 115, 139, 0.06);
    }
    &:last-child {
      margin: 0;
    }
  }

  &:hover ul li:hover > ul {
    visibility: visible;
  }
}

.accordion{
  &::after{
    width: 15px;
    height: 15px;
    content: '';
    top: 2px;
    right: 10px;
    position: relative;
    display: inline-block;
    background: url("../images/icon/chevron-down.svg") center;
    background-size: contain;
    transform: rotate(-90deg);
    transition: transform ease 0.1s;
  }
  &-target{
    //max-height: 0;
    padding: 0 1em;
    background: white;
    //transition: all .35s;
    display: none;
    position: absolute;
    //overflow: hidden;
  }
  &-trigger{
    display: none; // hide for desktop

    width: 70px;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
    //display: inline-block;
    .icon{
      position: absolute;
      //transition: all .35s;
      right: 15px;
      top: 3px;
    }
  }
  &-switch{
    display: none;
    &:checked{
      & ~ .accordion-target{
        max-height: 100vh;
        padding: 5px 10px;
        overflow: auto;
      }
      & ~ .accordion-trigger{
        .icon{
          transform: rotate(90deg);
        }
      }
    }
  }
  &:hover{
    &::after{
      transform: rotate(0);
    }
    .accordion-target{
      @include flex;
    }
  }
}

//main block styles
.main{
  width: 100%;
  min-height: 100vh;
  &-content{
    height: 100%;
    @include flex;
    @include flex-flow-column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    h2, h3{
      font-size: $font-middle;
      font-weight: 600;
      color: $font-grey;
      margin: 0;
      text-align: center;
    }
    h3{
      font-weight: normal;
      max-width: 530px;
    }
    h1{
      margin: 30px 0;
      text-align: center;
      span{
        display: block;
        color: $font-green;
      }
    }
  }
}


// about styles
.about{
  padding: 100px 0;
  background: rgba(90, 132, 255, 0.08);
  h2{
    text-align: center;
    margin: 20px 0 40px;
  }
}

.team{
  @include flex;
  @include flex-flow-row;
  flex-flow: wrap;
  justify-content: center;

  &-member{
    flex: 0 0.25 25%;
    padding: 25px;
    .img{
      @include border-radius(20px);
      position: relative;
      overflow: hidden;
    }
    img{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .desc{
      text-align: center;
      h4{
        font-size: 18px;
        font-weight: 600;
        margin: 20px 0 4px;
        color: $font-dark;
      }
      p{
        color: $font-grey;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
      }
    }
  }
}


// benefits block styles

.benefits{
  padding: 100px 0;
  h2 {
    text-align: center;
    margin: 20px 0 40px;
    span {
      color: $font-green;
    }
  }
  &-row{
    @include flex;
    @include flex-flow-row;
    flex-flow: wrap;
    justify-content: center;

  }
  &-item{
    flex: 0 0.20 20%;
    &-cover {
      padding: 10px;
      text-align: center;
      background: $white;
      @include border-radius(20px);
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
      }
    }
    h3{
      font-size: 15px;
      font-weight: 500;
      font-stretch: normal;
      color: $font-dark;
      text-align: center;
      margin: 0;
    }
    img{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 130px;
      max-height: 140px;
      margin: 0 auto;
    }
  }
  &-img{
    height: 150px;
  }
}


// contacts styles
.contacts {
  padding: 100px 0;
  h2 {
    text-align: center;
    margin: 20px 0 40px;
  }
  &-row {
    padding: 30px 0 60px;
    @include flex;
    @include flex-flow-row;
  }
  &-info {
    flex: 0 0.5 50%;
    a {
      display: block;
      width: fit-content;
      text-decoration: none;
      color: $font-blue;
      margin: 16px 0;
      span {
        margin-right: 12px;
      }
    }
    p {
      margin: 16px 0;
      color: #a0a3ae;
      span {
        margin-right: 12px;
      }
    }
  }
}

.form{
  padding: 100px 0;
  h2{
    text-align: center;
  }
  p{
    font-weight: normal;
    text-align: center;
    color: $font-grey;
    margin: 10px 0 20px;
    a{
      text-decoration: none;
      color: $font-green;
      font-weight: 600;
    }
  }
  .flexed-row{
    div:first-child{
      flex: 0 0.5 50%;
      padding-right: 10px;
    }
    div:last-child{
      flex: 0 0.5 50%;
      padding-left: 10px;
    }
  }
  .form-group {
    width: 100%;
    margin: 10px 0;
    display: flex;
    position: relative;
  }

  form{
    width: 100%;
    margin: 0 auto;
    max-width: 550px;
  }

  input, textarea {
    width: 100%;
    display: block;
    font-weight: normal;
    background-color: #f0f4ff;
    @include border-radius(4px);
    border: solid 1px rgba(160, 163, 174, 0.2);
    padding: 1.7em 1em .6em 25px;
    &:focus {
      outline: none;
      border: solid 1px rgba(90, 132, 255, 0.5);
    }
  }

  textarea{
    height: 60px;
  }

  /* LABEL ======= */
  label {
    top: 19px;
    left: 25px;
    color: #a0a3ae;
    font-size: $font-middle;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    @include transition(0.2s ease all);
  }


  /* active state */
  input:focus ~ label, input:valid ~ label, textarea:valid ~ label, textarea:focus ~ label {
    top: 9px;
    font-size: 13px;
  }

  button{
    outline: none;
    border: none;
    display: block;
    cursor: pointer;
    box-shadow: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    @include border-radius(4px);
    background: $font-blue;
    font-size: $font-middle;
    word-break: keep-all;
    white-space: nowrap;
    color: $white;
    font-weight: 600;
    padding: 16px 30px 18px;
    margin: 20px auto;
  }
}


.map-container{
  flex: 0 0.5 50%;
  div {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}


// footer styles

footer{
  .copyrights{
    color: #a0a3ae;
    font-size: $font-small;
    font-weight: normal;
    line-height: 30px;
  }
  .footer-nav{
    @include flex;
    @include flex-flow-row-nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      margin: 0 20px;
      a{
        padding: 0 20px;
        display: inline-block;
        text-decoration: none;
        font-size: $font-small;
        font-weight: normal;
        color: $font-blue;
      }
    }
  }
  .socials{
    padding: 0;
    margin: 0;
    list-style: none;
    @include flex;
    @include flex-flow-row;
    align-items: center;
    li{
      margin: 0 0 0 24px;
      width: 22px;
      color: #a0a3ae;
      a{
        font-size: 17px;
        color: inherit;
        text-decoration: none;
      }
    }
    li.socials-title{
      width: auto;
      color: #a0a3ae;
      font-size: $font-small;
      font-weight: normal;
    }
  }
}





























